<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anomedia</title>
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.min.css">
</head>
<body>
    <p align="center">
        <img class="WARNING_IMG" src="../static/WARNING.png" alt="WARNING_LOGO">
        <h3 class="TITLE_PAGE_TXT" align="center">Warning!</h3>
        <h4 class="TITLE_PAGE_TXT" align="center">Content on this site may or may not contain mature content. <br> By pressing "Continue to site" you are confirming you may see innapropriate images</h4>
    </p>
    <p align="center">
        <a href="/discover" align="center" class="green comfirm_btn white_fore TITLE_PAGE_TXT">Continue to site</a>
    </p>
</body>
</html>